<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
    useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,city,hotelDescription,hotelStar,hotelName,phoneNum,rate,manager_id,cover,minimumPrice)
        values (#{address},#{city},#{description},#{hotelStar},#{hotelName},#{phoneNum},#{rate},#{managerId},#{cover},#{minimumPrice})
    </insert>

    <delete id="deleteHotel">
        delete from hotel where id=#{id}
    </delete>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>

    <select id="getCities" resultMap="city">
        select city from Hotel
    </select>

    <select id="selectCityQualifiedHotel" resultMap="Hotel">
        select * from Hotel where city=#{city}
    </select>

    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>

    <select id="selectManager" resultMap="Hotel">
        select * from Hotel where manager_id=#{userid}
    </select>

    <update id="updateCoverURL">
        update Hotel set cover=#{cover}
        where id=#{id}
    </update>

    <update id="updateHotel">
        update Hotel set hotelName=#{hotelName},city=#{city},hotelDescription=#{hotelDescription}
        where id=#{id}
    </update>

    <select id="findHotel" resultType="int">
        select id from Hotel where hotelName=#{hotelName};
    </select>


    <resultMap id="Hotel" type="com.example.hotel.vo.HotelVO">
        <id column="id" property="id"></id>
        <result column="address" property="address"></result>
        <result column="city" property="city"></result>
        <result column="hotelDescription" property="description"></result>
        <result column="hotelStar" property="hotelStar"></result>
        <result column="hotelName" property="name"></result>
        <result column="phoneNum" property="phoneNum"></result>
        <result column="rate" property="rate"></result>
        <result column="manager_id" property="managerId"></result>
        <result column="cover" property="cover"></result>
        <result column="minimumPrice" property="minimumPrice"></result>

    </resultMap>

    <resultMap id="city" type="String">
        <result column="city" property="city"></result>

    </resultMap>


    <!--设置评分-->
    <update id="setRate">
        update Hotel set rate=#{rate}
        where id =#{id}
    </update>


</mapper>